<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<!-- layout:decorator 삭제됨. layout:decorate로 변경 필요 -->

	<th:block layout:fragment="content">
   <!--/* 게시글 영역 */-->
    <div class="table-responsive clearfix">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>번호</th>
                    <th>제목</th>
                    <th>작성자</th>
                    <th>등록일</th>
                </tr>
            </thead>

            <!--/* 게시글 리스트 Rendering 영역 */-->
            <tbody id="list">

            </tbody>
        </table>
        <div class="btn_wrap text-right">
            <a th:href="@{/board/write}" class="btn btn-primary waves-effect waves-light">Write</a>
        </div>

        <!-- 페이지네이션 Rendering 영역 -->
        <nav>

        </nav>
    </div>


    <th:block layout:fragment="script">
    <script th:inline="javascript">
	/*<![CDATA[*/
		window.onload = () => {findAll();}

		/**
		 * 게시글 리스트 조회
		 */
		function findAll() {

			fetch('/api/boards?deleteYn=N').then(response => {
				if (response.ok) {
   					return response.json();
				}
			}).then(json => {
				let html = '';

				if (!json.length) {
					html = '<td colspan="5">등록된 게시글이 없습니다.</td>';
				} else {
					json.forEach((obj, idx) => {
						html += `
			              <div class="col-md-6 col-lg-4 mb-5">
			                <div class="portfolio-item mx-auto  do-memo">
			                    
			                    <!-- 게시물 제목 
			                    
			                    <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
		                        <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
		                    	</div>
			                    -->
			                   
			                    
			                   <h2 class="m-title"><a href="javascript: void(0);" onclick="findById(${obj.id})">${obj.title}</a></h2>
			                    <p class="m-date">${moment(obj.insertTime).format('YYYY-MM-DD')}</p>
			                    <!-- <img class="img-fluid" src="assets/img/portfolio/cabin.png" alt="..." /> -->
			                </div>
			              </div>
						`;
					});
				}

				document.getElementById('list').innerHTML = html;
			});
		}
		
		function findById(id){
			
			
			console.log(id);

				fetch("/api/boards/id").then(response => {
		          	if (!response.ok) {
		      			throw new Error('Request failed...');
		      	    }
		          	return response.json();
		
		         	}).then(json => {
		         		console.log(json);
		         		console.log(object);
		         		console.log(json.id);
		         		
		         		let html = '';
		         		
		         		html += `
				              <div>${json.id}</div>
							`;
							
							document.getElementById('list').innerHTML = html;
		         	
		         	});
		}
		

	/*]]>*/
    </script>
   	
    </th:block>
</html>